<?xml version="1.0" encoding="UTF-8"?>

<configuration  >
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d %5p | %logger | %m %n</pattern>
			<outputPatternAsHeader>true</outputPatternAsHeader>			
		</encoder>
	</appender>

	<logger name="org.springframework" >
		<level value="INFO" />
	</logger>
	<logger name="org.hibernate" >
		<level value="INFO" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration> 
