<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
   		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />
	
	<context:property-placeholder location="classpath:persistence.properties" />
	
	<context:component-scan base-package="w.wexpense.persistence" />
		
	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.Currency" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.Currency" />				
				</bean>
		</constructor-arg>
	</bean>
	
	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.Country" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.Country" />				
				</bean>
		</constructor-arg>
	</bean>

	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.City" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.City" />				
				</bean>
		</constructor-arg>
	</bean>

	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.Payee" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.Payee" />				
				</bean>
		</constructor-arg>
	</bean>

	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.PayeeType" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.PayeeType" />				
				</bean>
		</constructor-arg>
	</bean>	
		
	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.Expense" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.Expense" />						
				</bean>
		</constructor-arg>
	</bean>

	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.ExpenseType" />		
		<constructor-arg>
				<bean class="w.wexpense.vaadin.GenericEditorFactory">
					<constructor-arg value="w.wexpense.model.ExpenseType" />				
				</bean>
		</constructor-arg>
	</bean>
	
	<bean class="w.wexpense.vaadin.GenericViewFactory">
		<constructor-arg value="w.wexpense.model.TransactionLine" />		
	</bean>	
	
</beans>
