<?xml version="1.0" encoding="ISO-8859-1"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
   		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<import resource="classpath:persistence-context.xml"/>
	<import resource="classpath:service-context.xml"/>
	
	<context:annotation-config />
	
	<context:property-placeholder location="classpath:wexpenses.properties" />
	
	<bean class="w.wexpense.vaadin.WexJPAContainerFactory" >
		<property name="helper">
			<bean class="com.vaadin.addon.jpacontainer.util.EntityManagerPerRequestHelper"/>
		</property>
	</bean>
	
	<!-- ========== currency and country ========== -->
			
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Currency" />
		<lookup-method name="newEditor" bean="currencyEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="code,name"/>
			</bean>
		</property>
	</bean>
	
	<bean id="currencyEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Currency" />
		<property name="propertyConfiguror" ref="currencyEditorProperties" />
	</bean>
	
	<bean id="currencyEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="240px"/>
		<property name="windowWidth" value="340px"/>
		<property name="visibleProperties" value="code,name,roundingFactor"/>
	</bean>
			
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Country" />
		<lookup-method name="newEditor" bean="countryEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="code,name,currency"/>
			</bean>
		</property>
	</bean>
	
	<bean id="countryEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Country" />
		<property name="propertyConfiguror" ref="countryEditorProperties" />
	</bean>
	
	<bean id="countryEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="240px"/>
		<property name="windowWidth" value="340px"/>
		<property name="visibleProperties" value="code,name,currency"/>
	</bean>
			
	<!-- ========== city ========== -->
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.City" />
		<lookup-method name="newEditor" bean="cityEditor"/>
		<property name="filter">
			<bean class="w.wexpense.vaadin.filter.DisplayFilter" />
		</property>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="name,zip,country"/>
			</bean>
		</property>
	</bean>
	
	<bean id="cityEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.City" />
		<property name="propertyConfiguror" ref="cityEditorProperties" />
	</bean>
	
	<bean id="cityEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="300px"/>
		<property name="windowWidth" value="350px"/>			
		<property name="visibleProperties" value="fullId,uid,name,zip,country"/>
	</bean>
	
	<!-- ========== payee ========== -->
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Payee" />
		<lookup-method name="newEditor" bean="payeeEditor"/>
		<property name="filter">
			<bean class="w.wexpense.vaadin.filter.DisplayFilter" />
		</property>		
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="type,prefix,name,city"/>
			</bean>
		</property>
	</bean>
	
	<bean id="payeeEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Payee" />
		<property name="propertyConfiguror" ref="payeeEditorProperties" />
	</bean>
	
	<bean id="payeeEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="450px"/>
		<property name="windowWidth" value="500px"/>			
		<property name="visibleProperties" value="fullId,uid,type,prefix,name,address1,address2,city,externalReference,bankDetails"/>
	</bean>
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.PayeeType" />
		<lookup-method name="newEditor" bean="payeeTypeEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="name,selectable"/>
			</bean>
		</property>
	</bean>
	
	<bean id="payeeTypeEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.PayeeType" />
		<property name="propertyConfiguror" ref="payeeTypeEditorProperties" />
	</bean>
	
	<bean id="payeeTypeEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="270px"/>
		<property name="windowWidth" value="340px"/>			
		<property name="visibleProperties" value="fullId,uid,name,selectable"/>
	</bean>
	
	<!-- ========== exchange rate ========== -->
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.ExchangeRate" />
		<lookup-method name="newEditor" bean="exchangeRateEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="date,institution,buyCurrency,sellCurrency,rate"/>
				<property name="otherProperies">
					<props>
						<prop key="date.format">{0,date,dd.MM.yyyy}</prop>
						<prop key="institution.expandRatio">80</prop>
						<prop key="rate.alignement">e</prop>						
						<prop key="rate.format">{0,number,0.00000}</prop>
					</props>
				</property>				
			</bean>
		</property>
	</bean>
	
	<bean id="exchangeRateEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.ExchangeRate" />
		<property name="propertyConfiguror" ref="exchangeRateEditorProperties" />
	</bean>
	
	<bean id="exchangeRateEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="360px"/>
		<property name="windowWidth" value="500px"/>			
		<property name="visibleProperties" value="fullId,uid,date,institution,buyCurrency,sellCurrency,rate"/>
	</bean>
	
	<!-- ========== expense ========== -->

	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Expense" />
		<lookup-method name="newEditor" bean="expenseEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="date,amount,currency,payee,type"/>
				<property name="otherProperies">
					<props>
						<prop key="date.format">{0,date,dd.MM.yyyy}</prop>
						<prop key="amount.alignement">e</prop>
						<prop key="amount.format">{0,number,0.00}</prop>
						<prop key="payee.expandRatio">80</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="expenseEditor" class="w.wexpense.vaadin.view.ExpenseEditor" scope="prototype" >
		<property name="propertyConfiguror" ref="expenseEditorProperties" />
		<property name="subEditor">
			<bean class="w.wexpense.vaadin.view.ExpenseTransactionLineEditor" scope="prototype" >
				<property name="propertyConfiguror">
					<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
						<property name="visibleProperties" value="account,discriminator,factor,amount,exchangeRate,value,description"/>
						<property name="otherProperies">
							<props>
								<prop key="account.expandRatio">30</prop>
								<prop key="discriminator.expandRatio">10</prop>
								<prop key="amount.alignement">e</prop>
								<prop key="amount.width">80</prop>								
								<prop key="value.alignement">e</prop>								
								<prop key="value.width">80</prop>
								<prop key="description.expandRatio">50</prop>
							</props>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="expenseEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="650px"/>
		<property name="windowWidth" value="910px"/>			
		<property name="visibleProperties" value="fullId,uid,date,amount,currency,payee,type,externalReference,description,payment"/>
	</bean>
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.ExpenseType" />
		<lookup-method name="newEditor" bean="expenseTypeEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="name,selectable,paymentGeneratorClassName"/>
			</bean>
		</property>
	</bean>
	
	<bean id="expenseTypeEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.ExpenseType" />
		<property name="propertyConfiguror" ref="expenseTypeEditorProperties" />
	</bean>
	
	<bean id="expenseTypeEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="240px"/>
		<property name="windowWidth" value="340px"/>			
		<property name="visibleProperties" value="fullId,uid,name,selectable,paymentGeneratorClassName"/>
		<property name="otherProperies">
			<props>
				<prop key="paymentGeneratorClassName.header">Generator</prop>
			</props>
		</property>
	</bean>
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.TransactionLine" />
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="nestedProperties" value="expense.date,expense.payee,expense.currency"/>
				<property name="visibleProperties" value="expense.date,expense.payee,account,discriminator,amount,expense.currency,inValue,outValue"/>
				<property name="otherProperies">
					<props>
						<prop key="expense.date.header">Date</prop>
						<prop key="expense.date.format">{0,date,dd.MM.yyyy}</prop>
						<prop key="expense.payee.header">Payee</prop>
						<prop key="expense.payee.expandRatio">60</prop>
						<prop key="account.expandRatio">20</prop>
						<prop key="discriminator.expandRatio">10</prop>
						<prop key="amount.alignement">e</prop>
						<prop key="amount.format">{0,number,0.00}</prop>
						<prop key="expense.currency.header">Currency</prop>
						<prop key="inValue.alignement">e</prop>
						<prop key="inValue.format">{0,number,0.00}</prop>						
						<prop key="outValue.alignement">e</prop>
						<prop key="outValue.format">{0,number,0.00}</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- ========== account ========== -->
		
	<bean class="w.wexpense.vaadin.view.ParentableView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Account" />
		<lookup-method name="newEditor" bean="accountEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="name,fullName,number,fullNumber,type,currency,selectable"/>
			</bean>
		</property>
	</bean>
	
	<bean id="accountEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Account" />
		<property name="propertyConfiguror" ref="accountEditorProperties" />
	</bean>
	
	<bean id="accountEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="490px"/>
		<property name="windowWidth" value="400px"/>			
		<property name="visibleProperties" value="fullId,uid,parent,name,fullName,number,fullNumber,type,externalReference,currency,selectable"/>
		<property name="otherProperies">
			<props>
				<prop key="parent.includeNonSelectable">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- ========== discriminator ========== -->
		
	<bean class="w.wexpense.vaadin.view.ParentableView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Discriminator" />
		<lookup-method name="newEditor" bean="discriminatorEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="name,selectable"/>
			</bean>
		</property>
	</bean>
	
	<bean id="discriminatorEditor" class="w.wexpense.vaadin.view.GenericEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Discriminator" />
		<property name="propertyConfiguror" ref="discriminatorEditorProperties" />
	</bean>
	
	<bean id="discriminatorEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="310px"/>
		<property name="windowWidth" value="340px"/>			
		<property name="visibleProperties" value="fullId,uid,parent,name,selectable"/>
		<property name="otherProperies">
			<props>
				<prop key="parent.includeNonSelectable">true</prop>
			</props>
		</property>
	</bean>
	
	<!-- ========== Payments ========== -->	
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Payment" />
		<lookup-method name="newEditor" bean="paymentEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="date,filename"/>
				<property name="otherProperies">
					<props>
						<prop key="date.format">{0,date,dd.MM.yyyy}</prop>
						<prop key="filename.expandRatio">80</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="paymentEditor" class="w.wexpense.vaadin.view.PaymentEditor" scope="prototype" >
		<property name="propertyConfiguror" ref="paymentEditorProperties" />
		<property name="subEditor">
			<bean class="w.wexpense.vaadin.view.OneToManySubEditor" scope="prototype" >
				<constructor-arg value="w.wexpense.model.Expense" />
				<constructor-arg value="expenses" />
				<property name="editable" value="false" />
				<property name="propertyConfiguror">
					<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
						<property name="visibleProperties" value="date,amount,currency,payee"/>
						<property name="otherProperies">
							<props>
								<prop key="date.format">{0,date,dd.MM.yyyy}</prop>
								<prop key="amount.alignement">e</prop>
								<prop key="amount.format">{0,number,0.00}</prop>								
							</props>
						</property>
					</bean>
				</property>
			</bean>
		</property>
		<lookup-method name="newPaymentDtaEditor" bean="paymentDtaEditor"/>
	</bean>
	
	<bean id="paymentEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="400px"/>
		<property name="windowWidth" value="500px"/>			
		<property name="visibleProperties" value="fullId,uid,date,filename"/>
	</bean>
	
	<bean id="paymentDtaEditor" class="w.wexpense.vaadin.view.PaymentDtaEditor" scope="prototype" >
		<property name="propertyConfiguror" ref="paymentDtaEditorProperties" />
	</bean>

	<bean id="paymentDtaEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="420px"/>
		<property name="windowWidth" value="820px"/>			
		<property name="visibleProperties" value="data"/>
		<property name="otherProperies">
			<props>
				<prop key="data.expandRatio">100</prop>
			</props>
		</property>
	</bean>
	
	<!-- ========== Consolidation ========== -->	
	
	<bean class="w.wexpense.vaadin.view.GenericView" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Consolidation" />
		<lookup-method name="newEditor" bean="consolidationEditor"/>
		<property name="propertyConfiguror">
			<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
				<property name="visibleProperties" value="date,institution,openingBalance,closingBalance"/>
				<property name="otherProperies">
					<props>
						<prop key="date.format">{0,date,dd.MM.yyyy}</prop>
						<prop key="institution.expandRatio">.8</prop>
					</props>
				</property>
			</bean>
		</property>
	</bean>
	
	<bean id="consolidationEditor" class="w.wexpense.vaadin.view.OneToManyEditor" scope="prototype" >
		<constructor-arg value="w.wexpense.model.Consolidation" />
		<property name="propertyConfiguror" ref="consolidationEditorProperties" />
		<property name="subEditor">
			<bean class="w.wexpense.vaadin.view.OneToManySubEditor" scope="prototype" >
				<constructor-arg value="w.wexpense.model.TransactionLine" />
				<constructor-arg value="transactions" />
				<property name="editable" value="false" />
				<property name="propertyConfiguror">
					<bean class="w.wexpense.vaadin.SimplePropertyConfigurator">
						<!-- TODO figure a way to get Nested properties out of a BeanItemContainer
						<property name="nestedProperties" value="expense.payee"/>
						<property name="visibleProperties" value="consolidatedDate,expense.payee,amount,exchangeRate,inValue,outValue"/>
						 -->
						<property name="visibleProperties" value="consolidatedDate,payee,amount,exchangeRate,inValue,outValue"/>
						<property name="otherProperies">
							<props>								
								<prop key="consolidatedDate.header">Date</prop>
								<prop key="consolidatedDate.format">{0,date,dd.MM.yyyy}</prop>
								<prop key="expense.payee.header">Payee</prop>
								<prop key="expense.payee.expandRatio">.8</prop>
								<prop key="amount.alignement">e</prop>
								<prop key="amount.format">{0,number,0.00}</prop>
								<prop key="inValue.alignement">e</prop>
								<prop key="inValue.format">{0,number,0.00}</prop>						
								<prop key="outValue.alignement">e</prop>
								<prop key="outValue.format">{0,number,0.00}</prop>
							</props>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="consolidationEditorProperties" class="w.wexpense.vaadin.SimplePropertyConfigurator" scope="session">
		<property name="windowHeight" value="480px"/>
		<property name="windowWidth" value="720px"/>			
		<property name="visibleProperties" value="fullId,uid,date,institution,openingBalance,closingBalance"/>
	</bean>
	
</beans>
